#main-content {
    height: 100%;
    width: 100%;
    position: relative;
}

.content {
    height: 100%;
    width: 100%;
    position: absolute;
}

#open-note-container,
#settings-container {
    position: absolute;
    display: none;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

#search-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    width: 100%;
    padding: 30px 0;
}

.filtered-note-container {
    padding-bottom: 15px;
}

#search-content-container:empty {
    display: none !important;
}

#main-content:has( #search-content-container:not(:empty)) .content {
    display: none !important;
}

.card-opened {
    transform: scale(1) !important;
    transition: transform 200ms ease-in-out;
}