/* BIN NOTIFICATION CONTAINER */

#bin-notification-container {
    height: fit-content;
    width: 100%;   
}

#bin-notification-wrapper {
    height: 70px;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
}

#bin-notification-wrapper span {
    font-style: italic;
    font-size: 1.065rem;
    color: var(--txt-dark);
}

#bin-notification-wrapper button {
    color: var(--txt-blue);
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: .01785714em;
    margin-left: 16px;
    padding: 8px 24px;
    border-radius: 4px;
}

#bin-notification-wrapper button:hover {
    background-color: rgba(66,133,244,0.039);
}

#bin-notification-wrapper button:active {
    background-color: rgba(66,133,244,0.161) !important;
}



/* EMPTY BIN CONTAINER */

#empty-bin-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#bin-notes-container:empty + #empty-bin-container {
    display: flex;
}

#empty-bin-container img {
    height: 100px;
    width: 100px;
    filter: brightness(0.85);
}

#empty-bin-container span {
    font-size: 1.5rem;
    color: var(--txt-gray);
}


/* BIN NOTES CONTAINER */

#bin-notes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 100%;
}

#bin-content-container:has( #bin-notes-container:empty) #bin-notification-container {
    display: none;
}